.channel_category .category_info
{
	z-index:300;
	position:absolute;
	top:20px;
	left:-20px;
	width:205px;
	display:none;
}

.channel_category .category_info .top_middle,
.channel_category .category_info .top_left,
.channel_category .category_info .top_right,
.channel_category .category_info .bottom_middle,
.channel_category .category_info .bottom_left,
.channel_category .category_info .bottom_right
{
	background-image:url("site/newkeede/bg_category_border.gif");
	background-repeat:no-repeat;
	height:7px;
	line-height:7px;
	width:205px;
	font-size:0px;	
}

.channel_category .category_info .top_middle,
.channel_category .category_info .bottom_middle
{	
	margin:0 8px;
	background-repeat:repeat-x;
	background-position:0 -20px;
	width:189px;	
	float:none;
}

.channel_category .category_info .bottom_middle
{	
	background-position:0 -50px;	
}

.channel_category .category_info .bottom_left
{
	background-position:left -40px;
}

.channel_category .category_info .bottom_right
{
	background-position:right -30px;
}

.channel_category .category_info .info_list
{
	border:1px solid #659b05;
	padding:10px 0px 0px 0px;
	background-color:#f6f6f6;
}

.channel_category .category_info .info_list .list_item
{
	height:32px;
	line-height:32px;	
	background-image:url("site/newkeede/repeat_x.gif");
	background-repeat:repeat-x;		
	font-size:14px;
	position:relative;
	background-position:0 -195px;
}
.channel_category .category_info .info_list .list_item .item_left
{
	float:left;
	height:32px;
	line-height:32px;
	background-image:url("site/newkeede/navigation.gif");
	background-repeat:no-repeat;
	width:32px;
}
.channel_category .category_info .info_list .list_item .item_right
{
	float:right;
	height:30px;
	line-height:30px;
	width:160px;
	background-image:url("site/newkeede/navigation.gif");
	background-position:135px -418px;
	background-repeat:no-repeat;
}

.channel_category .category_info .info_list .list_item .left_0
{
	background-position:0 -526px;
}
.channel_category .category_info .info_list .list_item .left_1
{
	background-position:0 -565px;
}
.channel_category .category_info .info_list .list_item .left_2
{
	background-position:0 -606px;
}
.channel_category .category_info .info_list .list_item .left_3
{
	background-position:0 -643px;
}
.channel_category .category_info .info_list .list_item .left_4
{
	background-position:0 -682px;
}
.channel_category .category_info .info_list .list_item .left_5
{
	background-position:0 -719px;
}
.channel_category .category_info .info_list .list_item .left_6
{
	background-position:0 -756px;
}
.channel_category .category_info .info_list .list_item .left_7
{
	background-position:0 -793px;
}
.channel_category .category_info .info_list .list_item .left_8
{
	background-position:0 -829px;
}
.channel_category .category_info .info_list .no_background .item_right
{ 
	background-image:none;
	background-color:#f6f6f6;	
}

.category_info .info_list .list_item  .item_blank
{
	display:none;
	position:absolute;
	width:25px;
	height:28px;
	left:180px;
	top:1px;	
	background-color:#f6f6f6;
}
.category_info .info_list .hover  .item_blank
{
	z-index:1220;
	display:block;	
}

.category_info .child_list
{
	position:absolute;
	left:203px;
	top:0px;	
	background-color:#f6f6f6;
	border:1px solid #659b05;	
	z-index:122;	
	display:none;
	width:221px;	
}


.category_info .child_2
{
	width:442px;
}

.category_info .child_3
{
	width:663px;
}

.category_info .hover .child_list,
.category_info .info_list .hover  .item_blank
{
	display:block;	
}

.category_info .child_list .child_item
{
	float:left;
	height:32px;
	line-height:32px;
	font-size:12px;
	width:220px;
	display:inline;		
	overflow:hidden;		
	background-image:url("site/newkeede/repeat_x.gif");
	background-repeat:repeat-x;
	background-position:0 -195px;
}
.category_info .child_list .child_item .item_icon
{
	float:left;
	width:15px;
	height:30px;
	background-image:url("site/newkeede/navigation.gif");
	background-position:0 -872px;
	background-repeat:no-repeat;
}
.category_info .child_list .no_right_border
{
	border-right:0px solid;
}
.category_info .info_list a
{
	color:#686868;
}

.category_info .info_list .hover a
{
	color:#d6a00c;
}
.category_info .child_list .child_item a
{	
	width:auto;	
	height:30px;
	line-height:30px;
	color:#686868;
	float:left;
}
.category_info .info_list  .hot_category a
{
	color:#d01d16;
}


.category_info .child_list .child_first
{
	border-left:0px solid #ffffff;	
}

.category_info .child_list .child_hover
{
	
}

.category_info .child_list .child_hover a
{	
	color:#d6a00c;
}